#
# File: py-wwpdb_utils_align/MANIFEST.in
#
include CMakeLists.txt
include HISTORY.txt
include modules/cpp-alignlib-wrapper/src/*.cpp
include modules/PairwiseAlign/include/*.h
include modules/PairwiseAlign/src/*.C
include modules/PairwiseAlign/test/*.C
graft modules/pybind11
#
